<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta name="author" content="AdsoDeveloperSolutions801">
    <meta name="course" content="ADSO 2873801">
    <!-- Favicon (ícono en la pestaña del navegador) -->
    <link rel="icon" type="x-icon" href="/frontend/public/images/favicon.ico">
    <title>Registro de vehículos</title>
    <!-- Enlace a estilos personalizados -->
    <link rel="stylesheet" href="/frontend/public/css/sityles_views.css">

<body>


    <!-- Contenedor donde se insertará el header -->
    <div id="header-container"></div>

    <!-- Flecha de retroceso -->
    <div class="back-arrow" onclick="goBack()">
        <!-- Ícono de flecha izquierda -->
        <i class="fas fa-arrow-left">←</i>
    </div>



    <div class="container-form" style="text-align: center;">
        <br>

        <h2>Registro de vehículos</h2>
        <form action="" method="POST">
            <br>
            <br>
            <div class="row">
                <div class="col-mb-4">
                    <div class="container-form" style="text-align: right;">
                        <label for="placa">Placa:</label>
                        <input type="text" name="placa" id="placa" required>
                        <br>
                        <label for="tipo">Tipo de vehículo:</label>
                        <select name="tipo" id="">
                            <option value="Automóvil">Automóvil</option>
                            <option value="Motocicleta">Motocicleta</option>
                            <option value="Camioneta">Bicicleta</option>
                            <option value="Camión">Oficial</option>
                            <option value="Tráiler">Aula móvil</option>
                        </select>
                    </div>
                </div>
                <div class="col-mb-4">
                    <div class="container-form" style="text-align: left;">
                        <label for="color">Color:</label>
                        <input type="text" name="color" id="color" required>
                        <br>
                        <label for="modelo">Modelo:</label>
                        <input type="text" name="modelo" id="modelo" required>
                        <br>
                        <textarea name="observaciones" id="observaciones">Observaciones</textarea>
                    </div>
                </div>
            </div>
            <input type="submit" value="Confirmar">
        </form>


    </div>

    <!-- Cargar el header-->
    <script src="/frontend/public/js/scriptsDOM.js"></script>

</body>

</html>